.catlist-heading {

    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    padding: 3px 4px 3px 4px;
    margin: 5px 2px 10px 80px;
    text-decoration: none;
    font-size: 90%;
    line-height: 5;
    white-space: nowrap;
    display: inline    
}

.linkdesc {  
    white-space: normal;
}

.rtemplate {
    display: none;
}

.rightedge {
    position: absolute;
    
    width: 50px;
    height: 100%;
    right: 0px;
    top: 0px;    
}

.linkcontainer {
    min-height: 80px
}

.tg-topic, .tg-name {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
    display: inline;
}

.tg-separator {
    display: inline;
    
}

.tg-current-choice {
    color: yellow;
}

#btnNewGroup {
    color: green;
}

